<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>drogueria medifarma Website Template | Login :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="css/lightbox.css" media="screen" />
  <script type="text/javascript">
    $(function() {
        $('.gallery a').lightBox();
    });
   </script>
</head>
<body>
<div class="wrap"> 
	<div class="pages-top">
	        <div class="logo">
				<a href="index.html"><img src="images/logo-pgweb.jpg" alt=""/></a>
			 </div>
		     <div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="pages.html">Login</a></li>
                    
					<li><a href="shortcodes.html">Productos</a>
						<ul>
							<li><a href="http://localhost/ejemplo_codeigniter/index.php/Rmedicamento/productos">administrar productos</a></li>
						</ul>
					</li>
						
					
					<li><a href="contact.html">Contacto</a></li>
				</ul>
				<script type="text/javascript" src="js/nav.js"></script>
			</div><!-- end h_menu4 -->
			<div class="clear"></div>
		</div><!-- end header_main4 -->
     </div>
	 <div class="main">
	     <div class="wrap">
	 	   <div class="pages">
				 
<html>
<head>
<style>
.juan{
	width:10%;
	height:30px;
}	

</style>

<style>

.juan{
	font-size: 15px; 
	font-family: algerian;
}

</style>
<meta charset="utf-8">

</head>
<body>
<div> registro de usuarios </div>
<form method="post" action="action.php">
                  <BR>  usuario:  <input    name=" usuario"  type=" text" value=" " /> </BR>      
</form>


<body>
<form >
<CENTER><BR><input class="juan" type="submit" value=" Guardar "  /></BR></CENTER>
<BR></BR>
</form>


<form method="post" action="action.php">
                   contraseña: <input name="contraseña" type=" text" value=" " /> 
</form>



<form>
<CENTER><BR><input class="juan" type="submit" value=" Crear " /></BR></CENTER>
<BR></BR>
</form>
</body>


<form method="post" action="action.php">
                    rol: <input name="rol" type="text" value=" " /> 
                   <BR></BR>
</form>
</body>
</html>

	    <div class="footer">
			<div class="wrap">
				<div class="footer-grid footer-grid1">
					<div class="f-logo">
				     <a href="index.html"><img src="images/logo-pgweb.jpg" alt=""></a>
			        </div>
					<p> su salud nuestro mayor compromiso</p>

					<p> correcto despacho de su formula medica</p>
					<p> asesoria personalizada con enfermero</p>
				</div>
				<div class="footer-grid footer-grid2">
					<h4>Contacto</h4>
				    <ul>
						<li><i class="pin"> </i><div class="extra-wrap">
							<p>Carrera 23a #20-03,  barrio la hermosa <br> santa rosa de cabal,Colombia</p>
						</div></li>
						<li><i class="phone"> </i><div class="extra-wrap">
							<p>+57 3184967725</p>
							<p>+57 3656959</p>
						</div></li>
						
					</ul>
				</div>
				<div class="footer-grid footer-grid3">
					<h4>iformacion</h4>
					<div class="recent-tweet">
						<div class=" ">
							<span> </span>
						</div>
						<div class="recent-tweet-info">
							<p>horario de atencion</p>
							<p>9am - 1pm</p>
							<p>2pm - 10pm</p>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="recent-tweet1">
						<div class="">
							<span> </span>
						</div>
						<div class="recent-tweet-info">
							
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<div class="footer-grid footer-grid4">
					<h4>anuncios</h4>
					<p> esta prohibida la venta de alcohol industrial y antiseptico a niños, niñas y adolescentes </p>
					<p> acuerdo 570 de diciembre 1 de 2014</p>
					
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="footer-bottom">
	 		  <div class="wrap">
	     	  	<div class="copy">
				   <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
			    </div>
			    <div class="social">	
				   <ul>	
					  <li class="facebook"><a href="#"><span> </span></a></li>
					  <li class="linkedin"><a href="#"><span> </span></a></li>
					  <li class="twitter"><a href="#"><span> </span></a></li>		
				   </ul>
			    </div>
			    <div class="clear"></div>
			  </div>
       </div>
</body>
</html>