<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>medifarma Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="js/jquery.min.js"></script>
<!---strat-slider---->
	    <link rel="stylesheet" type="text/css" href="css/slider.css" />
		<script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
		<script type="text/javascript" src="js/jquery.cslider.js"></script>
			<script type="text/javascript">
				$(function() {
				
					$('#da-slider').cslider({
						autoplay	: true,
						bgincrement	: 450
					});
				
				});
			</script>
		<!---//strat-slider---->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});

		</script>

</head>

<body>

<div class="wrap"> 
	<div class="header-top">
	        <div class="logo">
				<a href="index.html"><img src="images/logo-pgweb.jpg" alt=""/></a>

			 </div>
		     <div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="pages.html">ingresar al sistema</a>
						<ul>
						    <li><a href="http://localhost/ejemplo_codeigniter/index.php/Ingreso_sistema/ingresar">iniciar sesion</a></li>
							
						</ul>
					</li>                     
					<li><a href="pages.html">Administrar de usuarios</a>
						<ul>
						    <li><a href="http://localhost/ejemplo_codeigniter/index.php/Rusuarios/usuarios">administrar usuarios</a></li>
							
						</ul>
					</li>
					<li><a href="shortcodes.html">administrar de Productos</a>
						<ul>
							<li><a href="http://localhost/ejemplo_codeigniter/index.php/Rmedicamento/productos">administrar productos</a></li>
						</ul>
					</li>
					
					
					<li><a href="contact.html">Contacto</a></li>
				</ul>
				<script type="text/javascript" src="js/nav.js"></script>
			</div><!-- end h_menu4 -->
			<div class="clear"></div>
		</div><!-- end header_main4 -->
        <div class="slider">
				<!---start-da-slider----->
			  <div id="da-slider" class="da-slider">
				  <div class="da-slide">
					<h1>Fully Responsive & Retina Ready</h1>
					<p>hendrerit in vulputate velit esse.</p>
					<a href="#about" class="da-link">Show More</a>
				  </div>
				  <div class="da-slide">
					<h1>nostrud exerci tation ullamcorper</h1>
					<p>dignissim blandit praesent lup.</p>
					<a href="#about" class="da-link">Show More</a>
				  </div>
				  <div class="da-slide">
					<h1>augue duis dolore te feugait</h1>
					<p>quod mazim placerat facer possim.</p>
					<a href="#about" class="da-link">Show More</a>
				  </div>
				  <div class="da-slide">
					<h1>Mirum est notare quam littera</h1>
					<p>parum claram, anteposuerit litterarum.</p>
					<a href="#about" class="da-link">Show More</a>
				  </div>		
				  <nav class="da-arrows">
					<span class="da-arrows-prev"></span>
				 	<span class="da-arrows-next"></span>
				  </nav>
			   </div>
 		       <!---//End-da-slider----->
	      </div>
	 </div>
	 <div class="main">
	     <div class="wrap">
	 	   <h2 class="m_1"> productos totalmente confiables.</h2>
	 	    
	    <div class="footer">
			<div class="wrap">
				<div class="footer-grid footer-grid1">
					<div class="f-logo">
				     <a href="index.html"><img src="images/logo-pgweb.jpg" alt=""></a>
			        </div>
					<p> su salud nuestro mayor compromiso</p>

					<p> correcto despacho de su formula medica</p>
					<p> asesoria personalizada con enfermero</p>
				</div>
				<div class="footer-grid footer-grid2">
					<h4>Contacto</h4>
				    <ul>
						<li><i class="pin"> </i><div class="extra-wrap">
							<p>Carrera 23a #20-03,  barrio la hermosa <br> santa rosa de cabal,Colombia</p>
						</div></li>
						<li><i class="phone"> </i><div class="extra-wrap">
							<p>+57 3184967725</p>
							<p>+57 3656959</p>
						</div></li>
						
					</ul>
				</div>
				<div class="footer-grid footer-grid3">
					      <h4>iformacion</h4>
					<div class="recent-tweet">
						<div class="-">
							<span> </span>
						</div>
						<div class="recent-tweet-info">
							<p>horario de atencion</p>
							<p>9am - 1pm</p>
							<p>2pm - 10pm</p>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="recent-tweet1">
						<div class="">
							<span> </span>
						</div>
						
						<div class="clear"> </div>
					</div>
				</div>
				<div class="footer-grid footer-grid4">
					<h4>anunciosr</h4>
					<p> esta prohibida la venta de alcohol industrial y antiseptico a niños, niñas y adolescentes </p>
					<p> acuerdo 570 de diciembre 1 de 2014</p>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="footer-bottom">
	 		  <div class="wrap">
	     	  	<div class="copy">
				   <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
			    </div>
			    <div class="social">	
				   <ul>	
					  <li class="facebook"><a href="#"><span> </span></a></li>
					  <li class="linkedin"><a href="#"><span> </span></a></li>
					  <li class="twitter"><a href="#"><span> </span></a></li>		
				   </ul>
			    </div>
			    <div class="clear"></div>
			  </div>
       </div>
</body>
</html>